.signup-details {
    background-image: url("../images/janith-sighup.jpg");
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size:cover;
}

  
  .signup-details-container{
      filter: alpha(opacity=80);
      /* IE */
      -moz-opacity: 0.9;
      /* Mozilla */
      opacity: 0.9;
      /* CSS3 */
      position: absolute;
      padding: 15px;
      width: 80%;
      height: 70vh;    
      display: flex;
      justify-content: center;
    align-items: center;
  }
  
  .signup-details-container-box{
    background-color: rgba(65, 65, 65, 0.4);
    position: relative;
    padding: 15px;
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 10px;
  }

.signup-details-container-box h1 {
    font-weight: 800;
    color: white;
    align-content: center;
    justify-content: center;
    text-shadow: 0 0 20px rgb(0, 0, 0);
}

.signup-button {
    border-radius: 10px;
    justify-content: center;
}

.signup-td {
    width: 55%;
    color: white;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-size: 18px;
    min-width: 300px; 
    height: 35px;
}

.signup-input input{
    border-radius: 5px;
    margin: 0px 5px 0px 5px;
    width: 100%;  
    min-width: 300px; 
    height: 35px;
    padding: 10px;
}

#signup-input-field{
    text-transform: capitalize;
}

.signup-input select{
    border-radius: 5px;
    width: 100%;
    margin: 0px 5px 0px 5px;
    min-width: 300px; 
    height: 35px;
}

.signup-checkbox{
    display: block;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

  .signup-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  

.checkmark {
    position: absolute;
    justify-content: left;
    align-items:flex-start;
    left: 0;
    top:5px;
    height: 15px;
    width: 15px;
    background-color: #eee;
  }
  
  .signup-checkbox p{
    margin-left: 15px;
    color: wheat;
  }

  /* On mouse-over, add a grey background color */
  .signup-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .signup-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .signup-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .signup-checkbox .checkmark:after {
    left: 6px;
    top: 4px;
    width: 2px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.signup-button button{
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    width: 55%;
    border: none;
    background-color: #5e6df7;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    margin: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .signup-button button:hover {
    background-color: #044F74;
    color: white;
  }




#signup-alert{
    display: none;
    margin-top: 20px;
    margin-bottom: 0;
    width: 25%;
    justify-content: center;
    align-items: center;
}

