.forumview-topic{
    display: flex;
    padding: 20px 20px 0px 20px;
}

.forumview-topic h1{
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 30px;
    color: #001925;
}

.forumview-topic-txt{
    margin-right: 0px;
    margin-left: 40%;  
}

.forumview-topic-desc{
    display: flex;
    flex-direction: column;
    margin: 5px 20px 10px 20px;
    font-size: 0.9rem;
}

.forum-img{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}

.forum-img img{
  min-width: 75vh;
  height:20%;
  width: 75%;
  max-width: 150vh;
  max-height: 50vh;
  min-height: 25vh;
}

.forumview-btn-container{
    margin:10px 10px 10px 10px;
    position: relative;  
  }

  .forumview-topic-txt h6{ 
      margin-top: 10px; 
    font-size: 16px;
    position: absolute;
    font-weight: 750;
  }

  .forumview-topic-txt-reply{
    float: left;
    text-align: left;
    left: 4rem;
  }

  .forum-reply-view{
    margin-bottom: 30px;
  }
  .forum-view-box-main{
    margin-bottom: 5%;

  }

  .Forum-Print-Btn{
    width: 10%;
    height: 30px;
    border-radius: 8px;
    background-color: #19224D;
    color: white;
  }

  .Forum-Print-Btn:hover{
    background-color: #2b398d;
  }

  .forum-dwn-btn-div{
    display: flex;
    justify-content: right;
    padding-right: 25px;
  }